<ion-header-bar align-title="left" class="bar-positive">

<h1 class="title">Add new goal</h1>

</ion-header-bar>

<br><br>
<label class="item item-input">
	<span class="input-label">Goal:</span>
	<input type="text">
</label>

<p class="item">importance</p>
<div ng-controller='getValue'>
	<div class="list">
		<div class="item range range-positive">
			<i class="ion-android-sad"></i>
			<input type="range" name="volume" ng-model='modelValue' min='{{min}}' max='{{max}}' step='1' value="{{modelValue}}">
			<i class="ion-android-happy"></i>
		</div>
	</div>
	
	<input type="hidden" value = {{modelValue}}> 
</div>

<ion-item>
<ion-label floating>Description</ion-label>
<textarea></textarea>
</ion-item>
<button class="button button-balanced ion-android-done">
</button>





