a{
	text-decoration: none;
}

.header .col {
    background-color:lightgrey;
}

.tableCol {
    border: solid 1px grey;
    border-bottom-style: none;
    border-right-style: none;
}

.tableCol:last-child {
    border-right: solid 1px grey;
}

.tableRow:last-child .tableCol {
    border-bottom: solid 1px grey;
}
.col-15{
	width: 15%;
}
textarea{
	width: 100%;
	resize:none;
}


.progressbar{
	height:20px;
	border-radius:5px;
	box-shadow: 1px 1px 1px 1px black;
	color:white;
}


.center{
	text-align: center !important;
}

.left{
  float:right;
}

.right{
  float:right;
}

.relative{
  position : relative;
}

.profilPic{
    float: right;
    height: 85px;
    width: 85px;
    text-align:center;
}

.username{
    float:right;
    font-size: 20px;
    font-weight: 800;
    top: 64px;
    margin-right: 5px;
    position: relative;
}

.tblUsrStats{
padding:10px;
margin-top:10px;
}
.tblUsrStats table , .tblUsrStats tbody , .tblUsrStats tr{
    width:100%;
    
}
.tblUsrStats tr td{
    width:33.3%;
    text-align:center;
    padding: 5px;
    border-left: 1px solid #D3D3D3;
    border-right: 1px solid #D3D3D3;
    border-bottom: 1px solid #D3D3D3;
    
}
.tblUsrStats tr td span{
    width: 100%;
    font-size:25px;
}